menu "Device in use" 

    config NAME_DEVICE
        string "Name Device"
        default "ESP32-Project"
        help
            Name device.

    config FIRMWARE_VERSION
        string "Firmware version"
        default "1.0.1"
        help 
            Firmware version.

    config USING_WIFI
        bool "Using WIFI station"
        default y
        help 
            Using connect WIFI.

    config USING_SDCARD
        bool "Using SD card"
        default y
        help 
            Using SD card for store data.

    config USING_RTC
        bool "Using RTC module(DS3231)"
        default y
        help 
            Using DS3231 module.

    config RTC_TIME_SYNC
        bool "Time synchronization for RTC"
        default y
        help 
            Time synchronization for RTC

    config USING_BME280
        bool "Using BME280 Sensor"
        default y
        help 
            Using BME280 sensor.

    config USING_SDS011
        bool "Using SDS011 Sensor"
        default n
        help 
            Using SDS011 Sensor.

    config USING_PMS7003
        bool "Using PMS7003 Sensor"
        default y
        help 
            Using PMS7003 Sensor.

    config USING_O3_SENSOR
        bool "Using O3 Sensor"
        default n
        help 
            Using O3 Sensor.

    config USING_CO_SENSOR
        bool "Using CO Sensor"
        default n
        help 
            Using CO Sensor.

    config USING_CO2_SENSOR
        bool "Using CO2 Sensor"
        default n
        help 
            Using CO2 Sensor.

    config USING_NO2_SENSOR
        bool "Using NO2 Sensor"
        default n
        help 
            Using NO2 Sensor.

            

endmenu

menu "WIFI Configuration"

    config SSID
        string  "SSID"
        default "Active Learn"
        help
            SSID.

    config PASSWORD
        string  "PASSWORD"
        default  "123"
        help 
            PASSWORD.

    config MAXIMUM_AP
        int "Maximum access points"
        default  10
        help 
            Maximum access points.

    config MAXIMUM_RETRY
        int "Maximum retry"
        default 20
        help
            Set the Maximum retry to avoid station reconnecting to the AP unlimited when the AP is really inexistent.

    config SHOW_LIST_ACCESS_POINTS_FOUND
        bool "Show list Access Points found."
        default y
        help
            Show list Access Points found.

endmenu

menu "MQTT Configuration"

    config BROKER_URI
        string "Broker URL"
        default "mqtt://103.1.238.175:1885"
        help
            URL of an mqtt broker which this device connects to.

    config BROKER_HOST
        string "Broker host"
        default "103.1.238.175"
        help 
            Host is MQTT server domain <ipv4 as string>

    config BROKER_PORT
        int "Broker port"
        default 1885
        help 
            Port is MQTT server port

    config MQTT_USERNAME
        string "User name"
        default "test"
        help 
            MQTT username

    config MQTT_PASSWORD
        string  "Password"
        default  "testadmin"
        help 
            MQTT password

    config MQTT_TOPIC
        string "MQTT topic"
        default "PROJECT_VIEWDATA"
        help
            Topic to subcrice

    config MQTT_CLIENT_ID
        string "Client ID"
        default "ESP32-Project"
        help
            Set MQTT client identifier.

    config MQTT_TIMEOUT
        int "MQTT Timeout in ms"
        default 10000
        help
            Abort network operation if it is not completed after this value, in milliseconds.

    config MQTT_DISABLE_AUTO_RECONNECT
        bool "Disable auto reconnect to server"
        default n
        help
            Client will reconnect to server (when errors/disconnect).

   

    config BROKER_CERTIFICATE_OVERRIDDEN
        bool
        default y if BROKER_CERTIFICATE_OVERRIDE != ""

  

endmenu
menu "Get Data Period"
    config GET_DATA_PERIOD
        int "Period to get data in seconds"
        default 5
        help
            The interval to read data from sensors and send to queue
endmenu

menu "OTA Configuration"
    config USING_FIRMWARE_UPDATE_BY_OTA
        bool "Using firmware update by OTA"
        default n
        help 
            Using firmware update by OTA.

    config FIRMWARE_UPDATE_URL
        string "Firmware Update URL"
        default "https://192.168.2.106:8070/hello_world.bin"
        help
            URL of server which hosts the firmware image.

    config EXAMPLE_OTA_RECV_TIMEOUT
        int "OTA Receive Timeout"
        default 5000
        help
            Maximum time for reception

    config API_KEY
        string "API update key"
        default "AIRSENSE_ESP32_PROJECT"
        help 
            API key to request new firmware
endmenu