menu "BME configuration"
    config BME_PIN_NUM_SCL
        int "SCL GPIO Number"
        default 27
        help
            GPIO number for I2C Master clock line.

    config BME_PIN_NUM_SDA
        int "SDA GPIO Number"
        default 26
        help
            GPIO number for I2C Master data line.

    config BME_I2C_PORT
        int "I2C Port"
        default 1
        help 
            I2C port for BME280 sensor.

    config BME_I2C_FREQ_HZ
        int "Frequency I2C"
        default 400000
        help
            I2C frequency.

endmenu